<footer class="d-flex flex-column flex-lg-row">
    <div class="w-lg-33 border text-primary px-48 px-md-80 py-64 py-md-80">
        <h3 class="mb-24">聯絡我們</h3>
        <p>預約事宜請透過官方LINE或電話進行。
            <br>由於我們是小團隊，忙碌期間可能無法接聽電話，敬請諒解。
        </p>
    </div>
    <div class="w-lg-66 d-flex flex-column flex-md-row">
        <div class="w-md-33 border py-64 py-md-120 d-flex justify-content-center align-items-center">
            <a href="#" class="d-flex justify-content-center align-items-center flex-column">
                <img class="mb-24" src="../assets/images/line.svg" style="width: 48px;" alt="line">
                <p class="border px-12 py-2 rounded-pill fs-12">LINE Official Account</p>
            </a>
        </div>
        <div class="w-md-33 border py-64 py-md-120 d-flex justify-content-center align-items-center">
            <a href="#" class="d-flex justify-content-center align-items-center flex-column">
                <img class="mb-24" src="../assets/images/pinterest.svg" style="width: 48px;" alt="line">
                <p class="border px-12 py-2 rounded-pill fs-12">官方 Pinterest</p>
            </a>
        </div>        
        <div class="w-md-33 border py-64 py-md-120 d-flex justify-content-center align-items-center">
            <a href="#" class="d-flex justify-content-center align-items-center flex-column">
                <p class="fw-bold fs-24 mb-24">02-5747-5747</p>
                <p class="border px-12 py-2 rounded-pill fs-12">預約電話</p>
            </a>
        </div> 
    </div>
</footer>