<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link rel="shortcut icon" href="../assets/images/aruadesign.ico" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Benne&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <!-- 麵包屑 -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">關於我們</li>
        </ol>
      </nav>
      <!-- 麵包屑 -->

      <!-- 關於我們 -->
      <div class="position-relative text-primary mb-120 mb-md-160">
        <div class="row align-items-center">
          <div class="col-12 col-md-6">
            <img class="w-100" src="../assets/images/about.png" alt="about">
          </div>

          <div class="col-12 col-md-4 offset-md-1">
            <h2 class="mb-24 mt-80 mb-mt-120">關於沐光</h2>
            <p>
              沐光設計致力於打造充滿光彩和美感的家具。我們將自然光的靈感融入每一件作品中，注重細節和品質。無論您喜歡簡約風格還是典雅設計，我們都能滿足您的需求。我們的家具展現了永恆的美感和高雅，讓您的空間散發著獨特的魅力。讓沐光設計為您的家增添亮點和舒適感，讓您享受精緻生活。
            </p>
          </div>
        </div>
        <p class="d-none d-md-block text-deco fs-120 text-gray-light">Brilliance of Beauty, Achieved by Aura.</p>
      </div>
      <!-- 關於我們 -->
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>