<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link rel="shortcut icon" href="../assets/images/aruadesign.ico" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Benne&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <!-- 麵包屑 -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">首頁</a></li>
          <li class="breadcrumb-item"><a href="#">產品</a></li>
          <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
        </ol>
      </nav>
      <!-- 麵包屑 -->

      <!-- submenu -->
      <div class="mb-40 mb-md-64">
        <h2 class="text-primary text-center mb-40">產品列表</h2>
        <ul class="d-flex flex-wrap justify-content-center p-0">
          <li class="products-submenu px-24 py-4 px-md-80 py-md-8"><a href="#">全部</a></li>
          <li class="products-submenu px-24 py-4 px-md-80 py-md-8"><a href="#">客廳</a></li>
          <li class="products-submenu px-24 py-4 px-md-80 py-md-8"><a href="#">廚房</a></li>
          <li class="products-submenu px-24 py-4 px-md-80 py-md-8"><a href="#">書房</a></li>
          <li class="products-submenu px-24 py-4 px-md-80 py-md-8"><a href="#">燈飾</a></li>
          <li class="products-submenu px-24 py-4 px-md-80 py-md-8"><a href="#">其他</a></li>
        </ul>
      </div>
      <!-- submenu -->

      <ul class="d-flex flex-wrap justify-content-between mb-40">
        <!-- 產品1 -->
        <li class="products-item">
          <img class="img-fluid mb-8 mb-md-16" src="../assets/images/product-1-1.png" alt="1">
          <h4 class="mb-8">夢幻靜謐 布質L型沙發</h4>
          <p class="fs-14 mb-4">寬 100 × 深 65 × 高 58 公分</p>
          <h5><span class="fs-14 me-4">優惠價</span>$1,990</h5>
          <a href="#" class="stretched-link"></a>
        </li>
        <!-- 產品2 -->
        <li class="products-item">
          <img class="img-fluid mb-8 mb-md-16" src="../assets/images/product-1-1.png" alt="1">
          <h4 class="mb-8">夢幻靜謐 布質L型沙發</h4>
          <p class="fs-14 mb-4">寬 100 × 深 65 × 高 58 公分</p>
          <h5><span class="fs-14 me-4">優惠價</span>$1,990</h5>
          <a href="#" class="stretched-link"></a>
        </li>
        <!-- 產品3 -->
        <li class="products-item">
          <img class="img-fluid mb-8 mb-md-16" src="../assets/images/product-1-1.png" alt="1">
          <h4 class="mb-8">夢幻靜謐 布質L型沙發</h4>
          <p class="fs-14 mb-4">寬 100 × 深 65 × 高 58 公分</p>
          <h5><span class="fs-14 me-4">優惠價</span>$1,990</h5>
          <a href="#" class="stretched-link"></a>
        </li>
        <!-- 產品4 -->
        <li class="products-item">
          <img class="img-fluid mb-8 mb-md-16" src="../assets/images/product-1-1.png" alt="1">
          <h4 class="mb-8">夢幻靜謐 布質L型沙發</h4>
          <p class="fs-14 mb-4">寬 100 × 深 65 × 高 58 公分</p>
          <h5><span class="fs-14 me-4">優惠價</span>$1,990</h5>
          <a href="#" class="stretched-link"></a>
        </li>
        <!-- 產品5 -->
        <li class="products-item">
          <img class="img-fluid mb-8 mb-md-16" src="../assets/images/product-1-1.png" alt="1">
          <h4 class="mb-8">夢幻靜謐 布質L型沙發</h4>
          <p class="fs-14 mb-4">寬 100 × 深 65 × 高 58 公分</p>
          <h5><span class="fs-14 me-4">優惠價</span>$1,990</h5>
          <a href="#" class="stretched-link"></a>
        </li>
        <!-- 產品6 -->
        <li class="products-item">
          <img class="img-fluid mb-8 mb-md-16" src="../assets/images/product-1-1.png" alt="1">
          <h4 class="mb-8">夢幻靜謐 布質L型沙發</h4>
          <p class="fs-14 mb-4">寬 100 × 深 65 × 高 58 公分</p>
          <h5><span class="fs-14 me-4">優惠價</span>$1,990</h5>
          <a href="#" class="stretched-link"></a>
        </li>
        <!-- 產品7 -->
        <li class="products-item">
          <img class="img-fluid mb-8 mb-md-16" src="../assets/images/product-1-1.png" alt="1">
          <h4 class="mb-8">夢幻靜謐 布質L型沙發</h4>
          <p class="fs-14 mb-4">寬 100 × 深 65 × 高 58 公分</p>
          <h5><span class="fs-14 me-4">優惠價</span>$1,990</h5>
          <a href="#" class="stretched-link"></a>
        </li>
        <!-- 產品8 -->
        <li class="products-item">
          <img class="img-fluid mb-8 mb-md-16" src="../assets/images/product-1-1.png" alt="1">
          <h4 class="mb-8">夢幻靜謐 布質L型沙發</h4>
          <p class="fs-14 mb-4">寬 100 × 深 65 × 高 58 公分</p>
          <h5><span class="fs-14 me-4">優惠價</span>$1,990</h5>
          <a href="#" class="stretched-link"></a>
        </li>
        <!-- 產品9 -->
        <li class="products-item">
          <img class="img-fluid mb-8 mb-md-16" src="../assets/images/product-1-1.png" alt="1">
          <h4 class="mb-8">夢幻靜謐 布質L型沙發</h4>
          <p class="fs-14 mb-4">寬 100 × 深 65 × 高 58 公分</p>
          <h5><span class="fs-14 me-4">優惠價</span>$1,990</h5>
          <a href="#" class="stretched-link"></a>
        </li>
        <!-- 產品10 -->
        <li class="products-item">
          <img class="img-fluid mb-8 mb-md-16" src="../assets/images/product-1-1.png" alt="1">
          <h4 class="mb-8">夢幻靜謐 布質L型沙發</h4>
          <p class="fs-14 mb-4">寬 100 × 深 65 × 高 58 公分</p>
          <h5><span class="fs-14 me-4">優惠價</span>$1,990</h5>
          <a href="#" class="stretched-link"></a>
        </li>
      </ul>

      <nav class="mb-80" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>